@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&family=Poppins:wght@300;400&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600;1000&family=Poppins:wght@300;400&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;600;1000&family=Poppins:wght@300;400&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;1000&family=Poppins:wght@300;400&display=swap');


  body{
    margin: 0;
}

.header{
    width: 100%;
    height: 100px;
    background-color:black ;
    display: flex;
    align-items: center;
    justify-content: space-between;  
     font-family: 'Poppins',sans-serif;
      font-size:10px;
       /* position: fixed;   */
      
}

.logo
{
    margin-left: 39px; 
     cursor: pointer;
}

.header ul
{
    list-style:none;
    display: flex;
    margin-left: 10px;   
}

.header ul li{
    padding:20px;  
    height: 25px;
}

.header ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s;
} 
.header ul li img{
    width: 17px;
    padding-right: 5px;
    cursor: pointer;
} 

.li-border{

    border-left: .8px solid #ffffff;

    /* height: 90px; */
}
.line{
border-bottom: .8px solid #ffffff;
}

.middle{
    border-top: 50px;
    display: grid;
    grid-template-columns: 20fr 70fr 35fr;
    width: 100%;
    height: 300px;
    background-color:#424242 ;
}

.middle-logo
{ padding-top: 10px;
padding-left: 50px;
}

.middle-text
{ padding-top: 50px;
padding-left: 150px;
}

.middle-text h3{
    padding-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.middle-text p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: white;
}


#CTA1{
    background-color: #93c90f;
    height: 60px;
    width: 185px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 140px;
    margin-top: 125px;
    border-width: 0px;
    color:white;
    font-family: Mulish,sans-serif;
    font-size: 1rem;
    font-weight:800;
    text-align: center;  
    
}
#CTA1:hover{
    color: #000000;
    transform: translate(-2px, -5px);

}
.gradiant-color{
    width: 100%;
    height: 10px;
  background: rgb(245,204,36);  
background-image: linear-gradient(90deg, rgba(245,204,36,0.9108893557422969) 31%, rgba(78,221,45,1) 66%, rgba(0,99,255,0.8884803921568627) 99%); 
}

.audience{
    width: 100%;
    height: 630px;
    background-color:#1277dd ;
    /* display: grid;
    grid-template-columns: 70fr  40fr; */
    align-items: center;
    justify-content: center;
    
}
.research{
    width: 50%;
    float: left;
   /* margin-left: 20px;  */
    margin-top: 25px;;
    align-items: center;
    justify-content: left;
    margin-left: 70px;
}
.research h1 a{
    font-family: Mulish,sans-serif;
    font-size: 2em;
   
}

#CTA2{
    background-color: white;
    border-color: #ffffff;
    height: 60px;
    width: 280px;
    border-radius: 7px;
    border-width: 1px;
    cursor: pointer;
    color:black;
    font-family: Mulish,sans-serif;
    font-size: 1rem;
    font-weight: 800;
    /* text-align: center;  */
    margin-top: 20px;
}

.image-arrow
{    
    float:right;
    width: 50%;
    position:absolute;
    margin-left: -70px;
    height: 630px;
}


.separator{

    border-top: .8px solid #ffffff;
}

.four
{   width=100%;
    height: 120px;
    height:250px;
width: 100%;
background-color: #1791DA;
}

.brands_head{
    color: white;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    }
    
    .brands_head h3{
        padding-bottom: 40px;
    }
    
     .columns
    { 
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        
    }
    .footer{
        background-color: #000000;
        height: 140px;
        width: 100%;
        padding-top: 1px;    
     }


     p{
        margin-top: 0px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        color: white;
    }

    #copy1{
        font-family: 'Mulish', sans-serif ;
        color: white;
        padding-left: 50px;
        text-decoration: none;
     }
    
     #copy2{
        font-family: 'Mulish', sans-serif ;
        color: white;
        padding-left: 0px;
        text-decoration: none;
        /* flex:left; */
     }
    
     #copy3{
        font-family: 'Mulish', sans-serif ;
        font-size: 10px;
        color: white;
        padding-left: 50px;
        text-decoration: none;
        /* flex:left; */
     } 
     #copy4{
        font-family: 'Mulish', sans-serif ;
        font-size: 10px;
        color: white;
        padding-left: 0px;
        text-decoration: none; 
     }
    
     #copy5{
        font-family: 'Mulish', sans-serif ;
        font-size: 10px;
        color: white;
        text-decoration: none;
        /* flex:left; */
     } 
    
     
    
     
     /* .footer p{
        margin-top: 0px;
     }
     */

















.link{
      /* margin-left: 80px;  */
      margin-top: 70px; 
      font-size:50px;
      text-decoration: none;
      color: white;
      font-family: 'Poppins', sans-serif;    
}




 /* .copy1
 {
    font-family: 'Mulish', sans-serif ;
    color: white;
    padding: 80px; 
 }  */

 div p{
    padding-top: 40px;  
 }

 